<a href="https://colab.research.google.com/github/wina-rahmawati/Shopee-Code-League/blob/master/Predict_Test_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

from sklearn.feature_extraction.text import CountVectorizer
from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences
from keras.models import Sequential
from keras.layers import Dense, Embedding, LSTM, SpatialDropout1D
from sklearn.model_selection import train_test_split
from keras.utils.np_utils import to_categorical
from sklearn.utils import resample
from sklearn.utils import shuffle
from sklearn.metrics import confusion_matrix,classification_report
from tqdm import tqdm
import re

from keras.layers import Dense, Dropout, Activation, LSTM

In [71]:
data=pd.read_csv('/content/drive/My Drive/Colab Notebooks/dataset_SCL/test.csv')
data.head()

   review_id                                             review  rating
0          1  Great danger, cool, motif and cantik2 jg model...       1
1          2                   One of the shades don't fit well       1
2          3                                   Very comfortable       1
3          4  Fast delivery. Product expiry is on Dec 2022. ...       1
4          5  it's sooooo cute! i like playing with the glit...       1

In [12]:
data["review"].dtype

dtype('O')

In [67]:
# # load and evaluate a saved model
# import csv
# from keras.models import load_model

# load model
model = load_model('/content/drive/My Drive/Colab Notebooks/dataset_SCL/weights4.hdf5')
# summarize model.
model.summary()

listdata=data['review'].values.astype('U')
listdata = [d for d in listdata]

/usr/local/lib/python3.6/dist-packages/tensorflow/python/framework/indexed_slices.py:434: UserWarning: Converting sparse IndexedSlices to a dense Tensor of unknown shape. This may consume a large amount of memory.
  "Converting sparse IndexedSlices to a dense Tensor of unknown shape. "

Model: "sequential_14"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_2 (Embedding)      (None, 352, 400)          920400
_________________________________________________________________
lstm_2 (LSTM)                (None, 400)               1281600
_________________________________________________________________
dense_2 (Dense)              (None, 5)                 2005
=================================================================
Total params: 2,204,005
Trainable params: 2,204,005
Non-trainable params: 0
_________________________________________________________________

In [59]:
import tensorflow as tf

In [61]:
data.shape

(60427, 2)

In [75]:
tokenizer = Tokenizer(num_words=2300, split=" ")
tokenizer.fit_on_texts(listdata)

X = tokenizer.texts_to_sequences(listdata)
X = pad_sequences(X, maxlen=352) # padding our text vector so they all have the same length

In [76]:
X.shape

(60427, 352)

In [77]:
new_label = model.predict(X, batch_size=32, verbose=1, use_multiprocessing=True)

60427/60427 [==============================] - 1811s 30ms/step

In [79]:
result_df = pd.DataFrame(new_label)

In [80]:
result_df.head()

          0         1         2         3         4
0  0.093678  0.501506  0.250818  0.067731  0.069462
1  0.004489  0.022771  0.175370  0.431579  0.424950
2  0.100325  0.150408  0.335418  0.164448  0.145087
3  0.002670  0.010088  0.063165  0.502804  0.440889
4  0.002590  0.015202  0.115621  0.454859  0.403716

In [82]:
result_df.to_csv('/content/drive/My Drive/Colab Notebooks/dataset_SCL/result_sentiment.csv')